body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: #f5f5f9;
}

.backend_navbar {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.admin__nav-brand {
    color: #4650dd !important;
    padding: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}

.backend__content_wrapper {
    background-color: #f5f5f9;
}

.navbar_backend_active {
    background-color: #4650dd;
    color: #fff !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav-item .nav-link {
    transition: all .3s;
}

.nav-item:hover .nav-link {
    font-weight: bold;
    transform: translateX(2px);
}

.hk_breadcrumb {
    margin-top: 56px !important;
}

.breadcrumb {
    margin-top: 56px;
}

.nav-item {
    margin: 0 5px;
}

.admin__footer {
    align-items: center;
    padding: 16px 26px;
}

.admin__nav-userimg {
    height: 39px;
    width: 39px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 5px;
    transition: all .3s;
}

.nav-item:hover .admin__nav-userimg {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
