/* chinh kich thuoc footer */

.logo_footer {
    margin-bottom: 30px;
}

.footer {
    padding: 70px 0;
    width: 100%;
    background-color: #303132;
    border-bottom: 2px solid #0181ff;
}


/* end */


/* footer-open css */

.footer-title {
    position: relative;
    left: 18%;
    top: -40px;
    text-decoration: none;
}

.footer-title h3 {
    color: #03affb;
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(2, 139, 254);
    font-weight: bold;
    position: relative;
    bottom: 5px;
}


/* design box 1 */

.footer-box-firts .text {
    font-size: 16px;
    font-family: "Istok Web";
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.5;
}

.col-lg-3 h3 {
    font-weight: bold;
    font-family: "Montserrat";
    color: #fff;
}

.footer-box-firts a {
    border-radius: 4px;
    padding: 10px 13px;
    background-image: -moz-linear-gradient( 104deg, rgb(5,176,255) 0%, rgb(2,139,254) 100%);
    background-image: -webkit-linear-gradient( 104deg, rgb(5,176,255) 0%, rgb(2,139,254) 100%);
    background-image: -ms-linear-gradient( 104deg, rgb(5,176,255) 0%, rgb(2,139,254) 100%);
    margin: 5px;
    color: #fff;
    border: 1px solid transparent;
    display: inline-block;
}

.footer-box-firts a:hover {
    background-image: unset;
    border: 1px solid #fff;
    transition: all 0.3s;
    color: #fff;
}


/* end */


/* design box2 */

.footer-box-second ul li a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: "Istok Web";
    color: rgb(255, 255, 255);
    line-height: 35px;
}

.footer-box-second ul li {}

.footer-box-second ul li i {
    color: #0181ff;
}

.footer-box-second h3 {
    font-family: "Montserrat";
}

.footer-box-second hr {
    position: relative;
    bottom: 25px;
}

.footer-box-second hr {
    width: 100px;
    color: rgb(2, 129, 255);
    opacity: 1;
    position: relative;
    left: 33px;
    bottom: 11px;
}


/* end */

.footer-box-three .post {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.post p {
    margin-bottom: 0;
}

.footer-box-three .post:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer-box-three .post p {
    font-weight: 400;
    margin-left: 20px;
}

.footer-box-three hr {
    position: relative;
    bottom: 30px;
}

hr:not([size]) {
    height: 1px;
    width: 85px;
    left: 2px;
}

.footer-box-three {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 250px;
}

.footer-box-three .post img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
}


/* design text box */

.footer-text {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    margin-bottom: 30px;
}

.footer-text:last-child {
    margin-bottom: 0;
}

.footer-text img {
    width: 59px;
}

.footer-text p {
    font-size: small;
    color: #919192;
}

.footer-text img a {
    position: relative;
    left: 6px;
}


/* design end footer */

.footer-end {
    background-color: #242424;
    color: #fff;
}

.footer-end .row {

}

.footer-end-text {
    font-family: 'Istok Web', sans-serif;
    float: right;
}

.footer-end-text a {
    text-decoration: none;
}

.footer-end-text a i {
    color: #0181ff;
}


/* end */


/* design reponsive */

@media only screen and (min-width: 100px) and (max-width: 1170px) {
    .footer {
        max-width: 100%;
    }
    .container {
        max-width: 100%;
    }
    .footer-end {
        max-width: 100%;
    }
}

.place {
    position: relative;
    top: 50px;
}

@media only screen and (max-width: 991px) {
    .quicklinks {
        margin-top: 30px;
    }

    .popular {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 623px) {
    .popular {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 575px) {
    .quicklinks {
        margin-top: 30px;
    }
}
/* end */
